<div style="background: url(https://images.squarespace-cdn.com/content/v1/5d68e116db60bd0001c33f82/1584968832894-9O8P3WPT5JCKSBBSG79Y/IMG_1908.jpg?format=2500w)" class="page-holder bg-cover">

    <div class="container py-5">
        <header class="text-center text-white py-5">
            <h1 class="display-4 font-weight-bold mb-4"><img src="../../favicon.ico"> Le sonar à resto </h1>
            <h3>Une petite faim ? Découvrez ce qu'il y a dans les alentours !</h3>
        </header>

        <div class="text-center text-white">
            <p class="lead">Il vous suffit de vous déplacer sur la <code class="bg-white px-2 py-1 rounded">carte</code>, notre sonar vous informera des 20 restaurants les plus proche.</p>
            <p class="lead">Vous pourrez ajouter un restaurant manquant avec un <code class="bg-white px-2 py-1 rounded">clic gauche</code></p>
            <p class="lead">Trier les restaurants par leur <code class="bg-white px-2 py-1 rounded">moyenne</code> d'avis</p>
        </div>

    </div>
</div>