agm-map {
    height: 750px;
    flex: 3;
    margin-left: 30px;
    border: black solid 1px;
  }
 h1{
   padding : 50px ;
 }

ol{
  list-style-type: none;
  flex: 1;
  margin: 1px;
  }

li{
  border: 1px black solid;
  margin: 1px;
  background-color: rgb(218, 218, 218);
}
