* {
    overflow: hidden;
}

agm-map {
    height: 750px;
    flex: 3;
    margin-left: 30px;
}

#carte {
    height: 100vh;
    display: flex;
    background: url(https://images.squarespace-cdn.com/content/v1/5d68e116db60bd0001c33f82/1584968832894-9O8P3WPT5JCKSBBSG79Y/IMG_1908.jpg?format=2500w);
}

#resto {
    border: 3px solid #ceece6;
    background-color: #ceece6;
    border-radius: 30px;
    width: 65%;
    height: 94.3vh;
    margin: 30px;
}

#listeresto {
    width: 90%;
    max-height: 100vh;
    padding: 0.5em;
    margin: 30px;
    border-radius: 30px;
    border: 3px solid #ceece6;
    background-color: #ceece6;
}

h1 {
    padding: 0.4em;
    padding-left: 30%;
    font-family: Fangsong, Arial, Helvetica, sans-serif;
}

ol {
    list-style-type: none;
    flex: 1;
    margin: 1px;
    padding-left: 0px;
}

#main {
    text-align: center;
    padding-left: 0px;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

li {
    border: 1px black solid;
    margin: 3px;
    background-color: #dddcf5;
    border-radius: 15px;
}

#filter {
    display: block;
    background-color: #dddcf5;
    width: 92%;
    border-radius: 30px;
    margin-top: 0px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#scroll {
    position: absolute;
    top: 38%;
    left: 45%;
}

#note {
    text-align: center;
    background-color: #ceece6;
    border: 3px solid #ceece6;
    border-radius: 30px;
    padding: 0.5em;
    margin: 30px;
}

#blocAvis {
    width: 35%;
}