* {
    overflow: hidden;
}

agm-map {
    height: 750px;
    flex: 3;
    margin-left: 30px;
    border: black solid 1px;
}

body {
    margin: 20px;
}

h1 {
    margin: 50px;
    max-height: 200px;
    font-family: sans-serif;
}

ol {
    list-style-type: none;
    flex: 1;
    margin: 1px;
}

#main {
    height: 80vh;
    overflow: scroll;
}

li {
    border: 1px black solid;
    margin: 1px;
    background-color: rgb(218, 218, 218);
}

#filter {
    display: block;
    margin-top: 0px;
    width: 35%;
    margin-left: calc(33%);
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#scroll {
    position: absolute;
    top: 38%;
    left: 45%;
}